{% extends "admin/base_site.html" %}
{% load widget_tweaks %}

{% load static %}

{% block content %}
<div id="fishControls">
  <h1>Ubicación en Vivo</h1>  
  <!-- <input id="getFishLocation" type="button" value="Update Location" /> -->
</div>
<div class="row">
  <div class="col-lg-6">
    <form action="{% url 'form_handle' %}" method="POST" class="fixed" style="padding-bottom: 149.75px;">
      {% csrf_token %}
      <fieldset class="suit-form module aligned ">
        {% for field in form %}
        <div class="form-group row form-row field-identifier">
          {{ field.errors }}
          <label for="inputfield" class="form-control-label col-xs-12 col-sm-3 col-md-2">{{ field.label_tag }}</label>
          <div class="col-sm-10">
            {% render_field field class="form-control" %}
            {% if field.help_text %}
            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
            {% endif %}
          </div>

        </div>

        {% endfor %}
      </fieldset>
      <a href="{% url 'admin:taxiadmin_vehicle_change' vehicleId %}" class="btn btn-primary" role="button" aria-pressed="true">Editar</a>
      <!-- <button type="submit" class="btn btn-primary">Guardar</button> -->
    </form>
  </div>

  <div class="col-lg-6">   
    <!-- Message log -->
    <div id="log">
      <div id="map" style="min-width:300px;min-height:500px"></div>
      <p id="liveLocation"></p>
    </div>
    
  </div>
</div>

<div class="row">
  
</div>

{% endblock %}


{% block footer %}
{{ block.super }}
<script src="https://www.gstatic.com/firebasejs/live/3.0/firebase.js"></script>

<!-- RSVP -->
<script src="https://unpkg.com/rsvp@3.1.0/dist/rsvp.min.js"></script>

<!-- GeoFire -->
<script src="https://cdn.firebase.com/libs/geofire/4.1.0/geofire.min.js"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmz7oHEd5LqSGdal0vtfWUOkxn9GSUKt4"></script>

<!--<script type="text/javascript" src="{% static 'my_code.js' %}"></script>-->
<script src="https://www.gstatic.com/firebasejs/4.11.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAI755venVr58C5F1wExAlItIbyYFv98TQ",
    authDomain: "taxiexpress-ceb3f.firebaseapp.com",
    databaseURL: "https://taxiexpress-ceb3f.firebaseio.com",
    projectId: "taxiexpress-ceb3f",
    storageBucket: "taxiexpress-ceb3f.appspot.com",
    messagingSenderId: "583631002658"
  };
  firebase.initializeApp(config);

  (function () {
    var map;
    var marker;
    var taxiIcon = "{% static 'icon/taxi-icon.png' %}";

    firebase.auth().onAuthStateChanged(function (user) {
      if (user) {
        var isAnonymous = user.isAnonymous;
        var uid = user.uid;
        var carLocationRef = firebase.database().ref('carsLocations/{{vehicleId}}');

        var mapCanvas = document.getElementById("map");
        var myCenter = new google.maps.LatLng(14.0778239, -87.1947409);
        var mapOptions = { center: myCenter, zoom: 14, scrollwheel: false, };
        map = new google.maps.Map(mapCanvas, mapOptions);
        marker = new google.maps.Marker({
          position: myCenter,
          map: map,
          icon: {
            url: taxiIcon,
            scaledSize: new google.maps.Size(40, 40),
          }
        });
        marker.setMap(map);

        carLocationRef.on('value', function (snapshot) {
          document.getElementById("liveLocation").innerHTML = "<b>Latitud:</b>" + snapshot.val().l[0] + " <b>Longitud:</b>" + snapshot.val().l[1];
          marker.setPosition(new google.maps.LatLng(snapshot.val().l[0], snapshot.val().l[1]));
          map.panTo(new google.maps.LatLng(snapshot.val().l[0], snapshot.val().l[1]));
        });
      } else {
        firebase.auth().signInAnonymously().catch(function (error) {
          console.log('error', error);
        });
      }
    });


  })();


</script>

{% endblock  %}