{% extends "admin/base_site.html" %}
{% load widget_tweaks %}

{% load static %}

{% block extrastyle %}
{{ block.super }}
{% endblock %}

{% block content %}
<form action="{% url 'form_handle' %}" method="POST" class="fixed" style="padding-bottom: 149.75px;">
    {% csrf_token %}
    <fieldset class="suit-form module aligned ">
        {% for field in form %}
        <div class="form-group row form-row field-identifier">
            {{ field.errors }}
            <label for="inputfield" class="form-control-label col-xs-12 col-sm-3 col-md-2">{{ field.label_tag }}</label>
            <div class="col-sm-10">
                {% render_field field class="form-control" %}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
            </div>

        </div>

        {% endfor %}
    </fieldset>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

{% endblock %}