{% extends 'admin/registration/base_password_reset.html' %}

{% block title %}Recuperar Contraseña{% endblock %}

{% block content %}
<div class="container">
  <br>
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Olvidaste tu contraseña?</h1>
      <br>
      <p>Ingresa tu correo abajo, y nosotros te enviaremos un correo con las instrucciones para obtener una nueva.</p>
      <br>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <input type="submit" class="btn btn-primary" value="Envíame las instrucciones!">
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  
  function init() {
    var element = document.getElementById("id_email");
    element.classList.add("form-control");
  }

  window.onload = init;

</script>

{% endblock %}
