<!-- templates/registration/password_reset_done.html -->
{% extends 'admin/registration/base_password_reset.html' %}

{% block title %}Email Enviado{% endblock %}

{% block content %}
<div class="container">
  <br>
  <div class="row justify-content-center">
    <div class="col-6">
      <h1>Revisa tu correo.</h1>
      <p>Te hemos enviado instrucciones por correo electrónico para configurar su contraseña. ¡Deberías recibir el correo electrónico en breve!</p>
    </div>
  </div>
</div>
{% endblock %}


