<!-- templates/registration/password_reset_confirm.html -->
{% extends 'admin/registration/base_password_reset.html' %}

{% block title %}Ingrese Nueva Contraseña{% endblock %}

{% block content %}

{% if validlink %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <br>
      <h1>Ingrese una nueva contraseña!</h1>
      <br>
      <form method="POST">
        {% csrf_token %}
        <div class="form-group">
          {{ form.as_p }}
        </div>
        <input type="submit" class="btn btn-primary" value="Cambiar mi contraseña">
      </form>
    </div>
  </div>
</div>

{% else %}
<div class="container">
  <br>
  <div class="row justify-content-center">
    <div class="col-6">
      <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se ha utilizado. Solicite un nuevo restablecimiento de contraseña.</p>
    </div>
  </div>
</div>

{% endif %}

<script type="text/javascript">
  
  function init() {
    console.log("Pasamos al inicio");
    $('input[type=password]').addClass('form-control');
    console.log("Pasamos al final");
  }

  window.onload = init;

</script>

{% endblock %}